@page
@using KerykeionCmsCore.Constants
@model KerykeionCmsUI.Areas.KerykeionCms.Pages.WebPage.IndexModel
@{
    ViewData["Title"] = Model.PageTitle;
}

<div class="row border-bottom border-secondary">
    <div class="col-sm-6">
        <h2>@ViewData["Title"]</h2>
    </div>
    <div class="text-right col-sm-6">
        <a asp-page="/WebPages" class="btn btn-secondary">@Model.BtnBackValue</a>
    </div>
</div>

<div class="mt-3">
    <div class="row">
        <div class="col-sm-6 border border-info">
            <form method="post" asp-page-handler="Update" class="p-3" asp-route-id="@Model.Vm.Id">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label>Id</label>
                    <input class="form-control" value="@Model.Vm.Id" readonly />
                </div>
                <div class="form-group">
                    <label asp-for="Vm.Name">@Model.NameDisplay</label>
                    <input id="@PropertyNameConstants.Name" name="@PropertyNameConstants.Name" class="form-control" value="@Model.Vm.Name" readonly />
                </div>
                <div class="form-group">
                    <label asp-for="Vm.Title">@Model.TitleDisplay</label>
                    <input asp-for="Vm.Title" class="form-control"
                           data-val="true" data-val-length-max="30" data-val-length-min="4" data-val-length="@Model.PageTitleLengthError"
                           value="@Model.Vm?.Title" />
                    <span asp-validation-for="Vm.Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-primary" value="@Model.BtnUpdateValue" />
                </div>
            </form>
        </div>
        <div class="col-sm-4">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item"><a asp-page="/WebPage/Articles/Index" asp-route-pageId="@Model.Vm.Id" class="nav-link">@Model.TxtSeeArticles</a></li>
                <li class="nav-item"><a asp-page="/WebPage/Links" asp-route-pageId="@Model.Vm.Id" class="nav-link">@Model.TxtSeeLinks</a></li>
            </ul>
        </div>
    </div>
    <div class="mt-3 text-right">
        <form method="post" class="text-right" asp-page-handler="Delete" asp-route-id="@Model.Vm.Id">
            <input type="submit" class="btn btn-danger" value="@Model.BtnDeleteValue" />
        </form>
    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <script>
        $("#open-language-picker").find("form")
            .append(`<input type="hidden" name="page-id" value="@(Model.Vm.Id)" />`);
    </script>
}
