@page
@model KerykeionCmsUI.Areas.KerykeionCms.Pages.Help.IndexModel
@{
    ViewData["Title"] = "Help desk";
}

<ul>
    <li>
        <a asp-page="/Help/Documentation" asp-route-id="DFDD8BED-3605-45AD-85D1-4AB70382DE24" class="mb-2">@Model.TxtGettingStarted..</a>
    </li>
    <li>
        <a asp-page="/Help/Documentation" asp-route-id="61EE8642-0349-4A16-A7DA-203C9CC128D6" class="mb-2">@Model.TxtGettingStartedAddEntities..</a>
    </li>
    <li>
        <a asp-page="/Help/Documentation" asp-route-id="ED430AF5-FF26-4641-BD12-D4319D04B3FA" class="mb-2">@Model.TxtGettingStartedUpdateEntities..</a>
    </li>
    <li>
        <a asp-page="/Help/Documentation" asp-route-id="23D06009-D9F8-47DC-A6C8-4849F9D7F303" class="mb-2">@Model.TxtGettingStartedDeleteEntities..</a>
    </li>
    <li>
        <a asp-page="/Help/Documentation" asp-route-id="98374E73-00CB-4DB1-9D71-270B06B6ECA2" class="mb-2">@Model.TxtExtendKerykeionUser..</a>
    </li>
</ul>
